.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}


/* Parked Webpage Styling */

.Renovations {
  position: relative;
  top: 50%;
  transform:translateY(350%);
}

.Renovations h1 {
  opacity: 0.6;
  text-decoration: none;
}

.Renovations ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

.Renovations ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 3%;
}

.Renovations ul li a {
  opacity: 0.7;
  text-decoration: none;
  color: grey;
}

.Renovations ul li a:hover {
  opacity: 1;
}

/* Navbar Styling */

.Navbar {
  background-color: grey;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.Navbar_Items {
  display: flex;
}

.Navbar_Link {
  padding-right: 8px;
}

.Navbar_Items--right {
  margin-left: auto;
}

.Navbar_Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar_Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar_Items--right {
    margin-left: 0;
  }

  .Navbar_Link-toggle{
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar_Link-toggle {
    display: flex;
  }
}









